<iscomment>
    You could preview used icons by url
    /on/demandware.store/Sites-Boilerplate-NA-Site/en_US/Icons-Show

    To rebuild this template run `npm run build:icons:preview`
</iscomment>

<isdecorate template="common/layout/page">
    <isinclude template="/components/modules" sf-toolkit="off" />
    <isset name="assets" value="${require('*/cartridge/scripts/assets')}" scope="page" />
    <isincludecss
        p_preload="${true}"
        p_isasync="${false}"
        p_url="${assets.staticURL('/guide.css')}"
        p_integrity="${assets.getIntegrity('/guide.css')}"
    />
    <isinclude template="common/icons/spritePLP" />
    <isinclude template="common/icons/spritePDP" />

    <main class="l-example_container" itemprop="mainContentOfPage" role="main">
    {{#icons}}
        <section>
            <h2>{{name}}</h2>

            <ul class="b-icons_example">
            {{#symbols}}
                <li class="b-icons_example-item">
                    <svg width="18" height="18" role="presentation" focusable="false">
                        <use href="${'#'}{{.}}"></use>
                    </svg>
                    <p>use: ${'#'}{{.}}</p>
                </li>
            {{/symbols}}
            {{#srcs}}
                <li class="b-icons_example-item">
                    <isinclude template="common/icons/standalone/{{.}}" />
                    <p>
                        {{.}}
                    </p>
                </li>
            {{/srcs}}
            </ul>
        </section>
    {{/icons}}
    </main>

</isdecorate>
