/*
 Only classes allowed here!
 To develop run `npm run dev:mails:watch`
*/
// stylelint-disable selector-class-pattern, rule-empty-line-before, value-keyword-case
$font: Arial, sans-serif;

//#region Generic --------------------------------------------------------------

.body {
	background-color: #ffffff; // You should use full color names
	margin: 0;
}

.img {
	border: none;
	display: block;
	line-height: 1px;
}

//#endregion

//#region Table ----------------------------------------------------------------

.table {
	border: none;
	border-collapse: collapse;
	border-spacing: 0;
	font-family: $font;
	margin-bottom: 0;
}

.td {
	border: none;
	line-height: 8px;
	padding: 0;
	vertical-align: top;
}

// align

.td_middle {
	vertical-align: middle;
}

.td_bottom {
	vertical-align: bottom;
}

.td_center {
	text-align: center;
}

.td_right {
	text-align: right;
}

// border

.td_border {
	border: 1px solid;
}

.td_border_bottom {
	border-bottom: 1px solid;
	padding: 0;
}

.td_border_bottom_dotted {
	border-bottom: 1px dotted;
	padding: 0;
}

.td_border_light_gray {
	border-color: #d7d7d7;
}

.td_border_dark_gray {
	border-color: #7f7f7f;
}

// color

.td_light_gray {
	background-color: #f4f4f4;
}

//#endregion

//#region Text -----------------------------------------------------------------

.text {
	display: block;
	font-family: $font;
}

// size

.text_12 {
	font-size: 12px;
	line-height: 20px;
}

.text_13 {
	font-size: 13px;
	line-height: 20px;
}

.text_14 {
	font-size: 14px;
	line-height: 16px;
}

.text_14_tall {
	font-size: 14px;
	line-height: 22px;
}

.text_15 {
	font-size: 15px;
	line-height: 22px;
}

.text_16 {
	font-size: 16px;
	line-height: 24px;
}

.text_18 {
	font-size: 18px;
	line-height: 22px;
}

.text_24 {
	font-size: 24px;
	line-height: 30px;
}

// color

.text_gray {
	color: #8a8a8a;
}

.text_gray_dark {
	color: #666666;
}

.text_black {
	color: #333333;
}

.text_red {
	color: #f03131;
}

// deco

.text_tt {
	text-transform: uppercase;
}

.text_right {
	text-align: right;
}

.text_bold {
	font-weight: 700;
}

.text_decoration_none {
	text-decoration: none;
}
// elements

//#endregion

//#region title ----------------------------------------------------------------

.title {
	font-family: $font;
	font-size: 24px;
	font-weight: 700;
	line-height: 30px;
}

//#endregion

//#region List -----------------------------------------------------------------

.list-bullet {
	font-size: 20px;
	line-height: 25px;
}

//#endregion

//#region Preheader ------------------------------------------------------------

.preheader { // preheader should be hidden and first text in the body tag
	display: none;
}

//#endregion
